<header id="myCarousel" class="carousel slide">
    <!-- Wrapper for header-->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
            Welcome to Evolve Programming
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Websites</h4>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img class="img-responsive" src="assets/website1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>E-commerce</h4>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img class="img-responsive img-circle"" src="assets/E-Commerce-icon.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Maintanance</h4>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img class="img-responsive" src="assets/maintenance.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Blogs</h4>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img class="img-responsive" src="assets/blog.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Hosting</h4>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img class="img-responsive" src="assets/hosting.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <hr>
</div>
<!-- /.container -->