<header id="myCarousel" class="carousel slide">
    <!-- Wrapper for header-->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <section class="first-section">
        <div class="row">
            
            <div class="col-lg-12">
                <h1 class="page-header">
                Welcome to Evolve Programming
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Websites</h4>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img class="img-responsive" src="assets/website1.png" alt="">
                        </div>
                        <p>From: <span>R 3 000</span> without hosting</p>
                        <p>From: <span>R 3 400</span> with hosting</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>E-commerce</h4>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img class="img-responsive img-circle"" src="assets/E-Commerce-icon.jpg" alt="">
                        </div>
                        <p>From <span>R 12 499.99</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Maintanance</h4>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img class="img-responsive" src="assets/maintenance.png" alt="">
                        </div>
                        <p><span>from R 250 an hour</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Blogs</h4>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img class="img-responsive" src="assets/blog.jpeg" alt="">
                        </div>
                        <p>From<span> R 6 500</span> Basic blog</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Hosting</h4>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img class="img-responsive" src="assets/hosting.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="second-section">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                Why should you have a website
                </h1>
            </div>
            <div>
                <p>
                    Today, more and more consumers use the internet to search for the products or services they need. Your small business will gain credibility by having a website. Without one, potential customers will go to your competitors that do. If you already have a website but it is "home-made", having it professionally redesigned will provide your business with a professional image which will inspire even greater confidence. For home-based businesses, this is particularly beneficial since you do not have a store front to promote your products or services.
                </p>
            </div>
            
            
            <div class="col-lg-12">
                <h1 class="page-header">
                Why pick Evolve Programming
                </h1>

                <p>
                    We are a team of qualified software developers and graphic designers who specialises in building the best posible websites and applications for our clients.
                </p>

                <p>
                    We are available to our clients on a <span>24/7</span>span> basis 
                </p>
            </div>
            <div>
                <p>
                    
                </p>
            </div>
        </div>
    </section>
    <!-- /.row -->
    <!-- Features Section -->
</div>
<!-- /.container -->