<header id="myCarousel" class="carousel slide">
    <!-- Wrapper for header-->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <section class="first-section">
        <div class="row">
            
            <div class="col-lg-12">
                <h1 class="page-header">
                Welcome to Evolve Programming
                </h1>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Website</h4>
                        <p>From: <span>R 3 000</span> without hosting</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>E-commerce</h4>
                        <p>From <span>R 12 499.99</span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Maintance</h4>
                         <p><span>from R 250 an hour</span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Blogs</h4>
                        <p>From<span> R 6 500</span> Basic blog</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Hosting</h4>
                        <p>From<span> R 300</span> per hour</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="second-section">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                Why should you have a website
                </h1>
            </div>
            <div>
                <p>
                    Today, more and more consumers use the internet to search for the products or services they need. Your small business will gain credibility by having a website. Without one, potential customers will go to your competitors that do. If you already have a website but it is "home-made", having it professionally redesigned will provide your business with a professional image which will inspire even greater confidence. For home-based businesses, this is particularly beneficial since you do not have a store front to promote your products or services.
                </p>
            </div>
            
            
            <div class="col-lg-12">
                <h1 class="page-header">
                Why pick Evolve Programming
                </h1>
                <p>
                    We are a team of qualified software developers and graphic designers who specialises in building the best posible websites and applications for our clients.
                </p>
            </div>
            <div>
                <p>
                    
                </p>
            </div>
        </div>
    </section>
    <!-- /.row -->
    <!-- Features Section -->
</div>
<!-- /.container -->