<header id="myCarousel" class="carousel slide">

 <!-- Wrapper for header-->
 <div class="carousel-inner" role="listbox">
   <div class="item active">

   </div>
 </div>

</div>
</div>

</header>
<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
            Welcome to Evolve Programming
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Websites</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Blogs</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>E-commerce</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Maintanance</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Hosting</h4>
                </div>
                <div class="panel-body">
                    <i class="fa fa-cube icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <hr>
    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Contact Us and we will help you reach your goal</p>
            </div>
            <div class="col-md-4">
                <%= link_to('Contact Us', static_pages_contact_path, class: "btn btn-lg btn-default btn-block") %>

            </div>
        </div>
    </div>
</div>
<!-- /.container -->
