<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Services</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Image Header -->
    <div class="row">
        <div class="col-lg-12">
            <!-- <img class="img-responsive" src="http://placehold.it/1200x300" alt=""> -->
            <img class="img-responsive" src="/office.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->

    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Services</h2>
                <!-- Website -->
                <div class="col-md-4 col-sm-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <span class="fa-stack fa-5x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <h4>Responsive Web Design</h4>

                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#web_design">Learn more</button>
                            <div id="web_design" class="collapse">
                                Performing all the tasks necessary to keep a website up to date and in good, working order so that it works and shows up correctly with the latest web browsers and mobile devices

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Blog -->
                <div class="col-md-4 col-sm-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <span class="fa-stack fa-5x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <h4>Blog Design</h4>

                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#blog">Learn more</button>
                            <div id="blog" class="collapse">
                                A blog is a frequently updated online personal journal or diary. It is a place to express yourself to the world. A place to share your thoughts and your passions. Really, it’s anything you want it to be. For our purposes we’ll say that a blog is your
                                own website that you are going to update on an ongoing basis. Blog is a short form for the word weblog and the two words are used interchangeably.
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <span class="fa-stack fa-5x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <h4>E-Commerce Design</h4>

                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#e_commerce">Learn more</button>
                            <div id="e_commerce" class="collapse">
                                When done right, e-commerce filters enable users to narrow down a website’s selection of thousands of products to only those few items that match their particular needs and interests. With a simple ecommerce product, digitize your store!
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <span class="fa-stack fa-5x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <h4>Maintenance</h4>

                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#maintenance">Learn more</button>
                            <div id="maintenance" class="collapse">
                                Performing all the tasks necessary to keep a website up to date and in good, working order so that it works and shows up correctly with the latest web browsers and mobile devices
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <span class="fa-stack fa-5x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <h4>Hosting</h4>

                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#web_design">Learn more</button>
                            <div id="web_design" class="collapse">
                                Housing, serving, and maintaining files for one or more
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

</div>
<!-- /.container -->
